
body {
  margin: 0;
  position: relative;
  width:100vw;
  height:100vh;
  /*background: white;*/
  /*background: url(../images/home_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;*/
}

/* NAV BAR */
#home_navigation {
  z-index: 100;
  position: absolute;
  right: 3vw;
  top: 12vw;
}
.single_line_list {
  display:flex;
  list-style:none;
}

#home_navigation a {
  color: rgb(107, 206, 216);
}
#home_navigation a:hover {
  color: rgb(143,219,225);
  text-decoration: underline;
}

.active_page {
  text-decoration: underline;
}

/* DESIGN CONTAINER*/
#outer_container {
  z-index: 0;
  position: absolute;
  top: 30vw;
  left: 0vw;
  width: 100%;
  height: auto; /*set to auto*/
  background-color: white;
  border-radius: 0px;
  margin-bottom: 5vw;
  padding-top: 15vw;
}
/* SPLASH */
#splash {
  position: relative;
  width: 30vw;
  height: auto;
  left: 35vw;
  top: 15vw;
  z-index: 100;
}

.qoute {
  color: rgb(107, 206, 216) !important;
  color: rgba(197, 55, 87,.75) !important;
}






/**/
