
/* DESIGN CONTAINER*/
#content_container {
  position: absolute;
  top: 18vw;
  left: 0vw;
  width: 100%;
  background-color: white;
  border-radius: 0px;
  margin-bottom: 0;
  padding-top: 15vw;
}
/* SPLASH */
#portrait_me {
  position: relative;
  width: 30vw;
  height: auto;
  left: 35vw;
  top: 3vw;
  z-index: 100;
}

.qoute {
  color: rgb(107, 206, 216) !important;
  color: rgba(197, 55, 87,.75) !important;
}

@media only screen and (max-width: 640px) {
  #content_container {
    position: absolute;
    top: 25vw;
  }
  #portrait_me {
    top:11vw;
  }
}




/**/
