

.condense_font {
  -webkit-transform:scale(.55,1); /* Safari and Chrome */
      -moz-transform:scale(.55,1); /* Firefox */
      -ms-transform:scale(.55,1); /* IE 9 */
      -o-transform:scale(.55,1); /* Opera */
      transform:scale(.55,1); /* W3C */
}



/**/
