



html {
  width:100vw;
  height:100vh;
}

body {
  margin: 0;
  position: relative;
  width:100vw;
  height:100vh;
  background: url(../images/home_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

.condense_font {
  -webkit-transform:scale(.55,1); /* Safari and Chrome */
      -moz-transform:scale(.55,1); /* Firefox */
      -ms-transform:scale(.55,1); /* IE 9 */
      -o-transform:scale(.55,1); /* Opera */
      transform:scale(.55,1); /* W3C */
}

/* NAV BAR */
#home_navigation {
  z-index: 100;
  position: absolute;
  right: 3vw;
  top: 7vw;
}
.single_line_list {
  display:flex;
  list-style:none;
}
#home_navigation ul {
  margin: 0;
  padding: 0;
}
#home_navigation li {
  font-size: 3vw;
  margin-right:4vw;
}
#home_navigation a {
  color: white;
  font-family: "Saira Extra Condensed";
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
#home_navigation a:hover {
  color: rgb(143,219,225);
}

/* DESIGN CONTAINER*/
#outer_container {
  z-index: 0;
  position: absolute;
  top: 3.5vw;
  left: 3.5vw;
  width: 93vw;
  height: auto; /*set to auto*/
  border: 1px solid white;
  border-radius: 20px;
  margin-bottom: 3.5vw;
}

/* FLAIR */
#signature {
  z-index: 1;
  position: absolute;
  position: absolute;
  width: 22vw;
  height: 22vw;
  top: -7vw;
  left: -7vw;
}

/* TEXTURES */
.white_texture_alt {
  background: url(../images/white_texture_alt.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.dark_font{
  color: rgb(22,30,58) !important;
}

/* FRONT PAGE SECTIONAL */
.portfolio_item {
  position: relative;
  left:15%;
  width: 70%;
  margin-top: 10vw;
  margin-bottom: 10vw;
  overflow: hidden;
  border-radius: 10px;
}
.first_item {
  margin-top: 15vw;
}
.section_border {
  position: relative;
  width: 100%;
  height: auto;
}
.section_icon {
  position: absolute;
  top:50%;
  left:6%;
  width: 20%;
  height: auto;
  transform: translateY(-50%);
}
.section_title {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 26%;
  color: white;
  font-family: "Saira Extra Condensed";
  font-weight: 600;
  font-size: 4.4vw;
  text-transform: uppercase;
}
#information_experiments .section_title {
  left: 28%;
}
#designing_to_learn .section_title {
  left: 28%;
}
#Asset_development .section_title {
  left: 28%;
}
.section_description {
  position: absolute;
  top: 43%;
  left: 28%;
  color: white;
  font-family: "Nunito";
  font-weight: 300;
  font-size: 1.9vw;
}
.section_read_more {
  position: absolute;
  top: 62%;
  left: 28%;
  color: rgb(197, 55, 87);
  font-family: "Nunito";
  font-weight: 300;
  font-size: 2.1vw;
  text-decoration: none;
  cursor: pointer;
}










/**/
