



/*
*===STREAMERS SCREEN===
*/

body {
    position: relative;
    margin:0;
    height:100vh;
    width:100vw;
    background: url("../image/welcome/fancy-background@2x.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow:hidden;
}

#streamers-title {
    position: absolute;
    top: 3vh;
    width: 28vw;
    height: 6vw;
    background: url("../image/streamers/streamers-title.png");
    background-size: 28vw 6vw;
}

#streamers-menu {
    position: absolute;
    top: 100%;
    width: 12vw;
    height: 3vw;
    background: url("../image/streamers/streamers-menu.png");
    background-size: 12vw 3vw;
}

#streamers-menu:hover {
    filter: invert(100%);
}

#streamers-and-players {
  position:relative;
  top:50%;
  left:50%;
  width:81vh;
  height:70vh;
  transform:translateX(-50%) translateY(-50%);
}

#playerHafu, #playerTrump, #playerKolento, #playerSavjz, #playerEloise {
  position: relative;
  display:inline-block;
  margin:1vh;
  width:25vh;
  height:33.33vh;
}

#playerSavjz {
  margin-left:14.5vh;
}

#playerHafu img, #playerTrump img, #playerKolento img, #playerSavjz img, #playerEloise img{
  width:100%;
}

.youtube {
  position: absolute;
  bottom: -10.5%;
  left: 0;
  width: 50%;
  height: 14.5%;
}

.twitch {
  position: absolute;
  bottom: -10.5%;
  right: 0;
  width: 50%;
  height: 14.5%;
}

.youtube p, .twitch p {
  position: absolute;
      left: -999em;
      width: 1em;
      overflow: hidden;
}

#landscapeMessage {
  position: relative;
  display: none;
  left:30vw;
  top:30vh;
  width:40vw;
  height:40vh;
  background-color: rgba(255, 255, 255, 0.7);
}

#landscapeMessage p {
  position: relative;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
  top:20vh;
  transform: translateY(-50%);
}

@media only screen and (max-device-width: 750px) {

  #streamers-title {
      width: 50vw;
      height: 10vw;
      background-size: 50vw 10vw;
  }

  #streamers-menu {
      width:20vw;
      height: 5vw;
      background-size: 20vw 5vw;
  }

  #streamers-and-players {
    width:51vh;
    height:44vh;
  }

  #playerHafu, #playerTrump, #playerKolento, #playerSavjz, #playerEloise {
    width:15vh;
    height:20vh;
  }

  #playerSavjz {
    margin-left:9.5vh;
  }

}

@media only screen
  and (max-device-width: 750px)
  and (orientation: landscape) {

    #landscapeMessage {
      display:block;
    }
    #streamers-and-players {
      display:none;
    }

    #streamers-title {
        width: 30vw;
        height: 6vw;
        background-size: 30vw 6vw;
    }

    #streamers-menu {
        width:15vw;
        height: 3.5vw;
        background-size: 15vw 3.5vw;
    }
  }



/*************** THE GRID ***************/
.widthOne		{width:5vw;}
.widthTwo		{width:10vw;}
.widthThree	{width:15vw;}
.widthFour		{width:20vw;}
.widthFive		{width:25vw;}
.widthSix		{width:30vw;}
.widthSeven	{width:35vw;}
.widthEight	{width:40vw;}
.widthNine		{width:45vw;}
.widthTen		{width:50vw;}
.widthEleven	{width:55vw;}
.widthTwelve	{width:60vw;}
.widthThirteen	{width:65vw;}
.widthFourteen	{width:70vw;}
.widthFifteen	{width:75vw;}
.widthSixteen	{width:80vw;}
.widthSeventeen{width:85vw;}
.widthEighteen	{width:90vw;}
.widthNineteen	{width:95vw;}

.heightOne		{height:5vh;}
.heightTwo		{height:10vh;}
.heightThree	{height:15vh;}
.heightFour		{height:20vh;}
.heightFive		{height:25vh;}
.heightSix		{height:30vh;}
.heightSeven	{height:35vh;}
.heightEight	{height:40vh;}
.heightNine		{height:45vh;}
.heightTen		{height:50vh;}
.heightEleven	{height:55vh;}
.heightTwelve	{height:60vh;}
.heightThirteen	{height:65vh;}
.heightFourteen	{height:70vh;}
.heightFifteen	{height:75vh;}
.heightSixteen	{height:80vh;}
.heightSeventeen{height:85vh;}
.heightEighteen	{height:90vh;}
.heightNineteen	{height:95vh;}

.one		{width:5vh;}
.two		{width:10vh;}
.twoThirds	{width:13.33vh;}
.three		{width:15vh;}
.four		{width:20vh;}
.five		{width:25vh;}
.six		{width:30vh;}
.seven		{width:35vh;}
.eight		{width:40vh;}
.nine		{width:45vh;}
.ten		{width:50vh;}
.eleven		{width:55vh;}
.twelve		{width:60vh;}
.thirteen	{width:65vh;}
.fourteen	{width:70vh;}
.fifteen	{width:75vh;}
.sixteen	{width:80vh;}
.seventeen	{width:85vh;}
.eighteen	{width:90vh;}
.nineteen	{width:95vh;}
.twenty		{width:100vw;}
